.listing-card {
  margin: 25px;
}

.listing-images {
  max-width: 150px;
}

.reserve-form {
  margin-top: 50px;
}

.reserve-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reserve-inputs {
  margin-top: px;
}