<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>Anotherbnb</title>
</head>

<body>

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span>Anotherbnb</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% if not g.user %}
        <li><a class="btn btn-link text-dark text-decoration-none" href="/signup">Signup</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/login">Login</a></li>
        {% else %}
        <li><a class="btn btn-link text-dark text-decoration-none" href="/listings">Listings</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/messages/inbox">Inbox</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/messages/compose">Send Message</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/messages/sent">Sent Messages</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/reservations/me">My Reservations</a></li>
        <li><a class="btn btn-link text-dark text-decoration-none" href="/reservations/manage">Manage Reservations</a></li>
        <form action="/logout" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <li><button class="btn btn-link text-danger text-decoration-none">Logout {{ g.user.username }}</button></li>
        </form>
        {% endif %}

      </ul>
    </div>
  </nav>




  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>

</body>

</html>