<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>Anotherbnb</title>
</head>

<body>


  <a href="/">Home</a>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>

  <!-- LOGOUT -->
<form action="/logout" method="POST">
  {{ g.csrf_form.hidden_tag() }}
  <button class="btn btn-link">Logout</button>
</form>
  <!-- END LOGOUT -->


  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>

</body>

</html>