{% extends 'base.html' %}


{% block content %}
<h1>LISTINGS (GUEST)</h1>

<!-- LISTINGS OVERVIEW -->
{% for listing in listings %}

<div>
{% if listing.images %}
<div>
<img class="listing-thumbnail-img" src="{{ listing.images[0].url }}" alt="{{ listing.images[0].original_filename }}">
</div>
{% endif %}

<h2>{{ listing.title }}</h2>
<p><b>Host:</b> {{ listing.user.username }}</p>
<p><b>Area (Square Ft):</b> {{ listing.sq_ft}}</p>
<p><b>Max Number of Guests:</b> {{ listing.max_guests }}</p>
<p><b>Hourly Rate:</b> {{ listing.hourly_rate }}</p>
<p><b>Description:</b> {{ listing.description }}</p>
<p><b>Status:</b> {{ listing.status }}</p>
</div>
{% endfor %}
<!-- END LISTINGS -->



{% endblock %}