{% extends 'base.html' %}
{% from 'macros.html' import listing_card %}
{% from 'macros.html' import search_listing %}


{% block content %}

{{ search_listing(q) }}

{% if g.user %}
<a href="/listings/new" class="btn btn-primary">Add Listing</a>
{% endif %}

<div>
  <div class="col-md-10 col-lg-12 d-flex flex-wrap justify-content-center">

    {% if not listings %}
    <h2>No results found...</h2>
    {% endif %}

    {% for listing in listings %}
    {{ listing_card(listing) }}
    {% endfor %}

  </div>
</div>

{% endblock %}



