{% extends 'base.html' %}
{% from 'macros.html' import listing_details_only %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h1>Reserve '{{ listing.title }}'</h1>


    <form method="POST" id="user_form" enctype="multipart/form-data" class="reserve-form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="reserve-inputs">
        <b>{{ field.label.text }}</b>
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(class="form-control") }}
        {% endfor %}
      </div>

      <div class="reserve-buttons">
        <button class="btn btn-primary">Request</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
      </div>
    </form>

    <div>
      <h4><b>Listing Details</b></h4>
      {{ listing_details_only(listing) }}
    </div>

  </div>
</div>



{% endblock %}