{% extends 'base.html' %}
{% from 'macros.html' import listing_details_only %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">

    <h1>{{ listing.title }}</h1>
    {{ listing_details_only(listing) }}

    <a href="/listings/{{ listing.id }}/reserve" class="btn btn-primary">Reserve</a>
    <a href="/messages/compose?recipient_username={{ listing.user.username }}&subject={{ listing.title }}"
    class="btn btn-dark">Message Host</a>
    <a href="javascript:history.back()" class="btn btn-secondary">Back</a>


    <div>
      {% for image in listing.images %}
      <img class="listing-images" src="{{ image.url }}" alt="{{ image.original_filename }}">
      {% endfor %}
    </div>

  </div>
</div>


{% endblock %}