{% extends 'base.html' %}
{% from 'macros.html' import listing_details_only %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h1>Reserve '{{ listing.title }}'</h1>


    <form method="POST" id="user_form" enctype="multipart/form-data" class="reservation-form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <b>{{ field.label.text }}</b>
      {{ field(class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary reservation-button">Request</button>
    </form>

    <div>
      <h4><b>Listing Details</b></h4>
      {{ listing_details_only(listing) }}
    </div>

  </div>
</div>



{% endblock %}