{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h1>Reserve '{{ listing.title }}'</h1>


    <form method="POST" id="user_form" enctype="multipart/form-data" class="reservation-form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <b>{{ field.label.text }}</b>
      {{ field(class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary reservation-button">Request</button>
    </form>

    <div>
      <h4><b>Listing Details</b></h4>
      <p><b>Host:</b> {{ listing.user.username }}</p>
      <p><b>Area:</b> {{ listing.sq_ft}} ft²</p>
      <p><b>Max Number of Guests:</b> {{ listing.max_guests }}</p>
      <p><b>Hourly Rate:</b> ${{ listing.hourly_rate }}</p>
      <p><b>Description:</b> {{ listing.description }}</p>
      <p><b>Status:</b> {{ listing.status }}</p>
    </div>

  </div>
</div>



{% endblock %}