{% extends 'base.html' %}
{% from 'macros.html' import listing_card %}
{% from 'macros.html' import search_listing %}



{% block content %}

{{ search_listing(q) }}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h1>LISTINGS (LOGGED IN)</h1>
    <a href="/listings/new" class="btn btn-primary">Add Listing</a>

    <!-- LISTINGS OVERVIEW -->
    {% for listing in listings %}
    {{ listing_card(listing) }}
    {% endfor %}
    <!-- END LISTINGS -->
  </div>
</div>

{% endblock %}



