{% macro search_listing(value) %}
<form method="GET">
  <div class="input-group w-50 mx-auto">
    <input class="form-control" type="text" name="q" value="{{ value }}" placeholder="title or description...">
    <button class="btn btn-light border">Search</button>
  </div>
</form>
{% endmacro %}


{% macro listing_details_only(listing) %}
<p><b>Host:</b> {{ listing.user.username }}</p>
<p><b>Area:</b> {{ listing.sq_ft}} ft²</p>
<p><b>Max Number of Guests:</b> {{ listing.max_guests }}</p>
<p><b>Hourly Rate:</b> ${{ listing.hourly_rate }}</p>
<p><b>Description:</b> {{ listing.description }}</p>
{% endmacro %}


{% macro reservation_card(reservation) %}
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{ reservation.listing.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Host: {{ reservation.listing.user.username }}</h6>
    <p class="card-text"><b>Hours:</b> {{ reservation.hours }}</p>
    <p class="card-text"><b>Guests:</b> {{ reservation.guests }}</p>
    <p class="card-text"><b>Start Time:</b> {{ reservation.start_time }}</p>
    <p class="card-text"><b>Date:</b> {{ reservation.start_date }}</p>
  </div>
</div>
{% endmacro %}


{% macro reservation_approval_card(reservation) %}
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{ reservation.user.username }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Listing: {{ reservation.listing.title }}</h6>
    <p class="card-text"><b>Hours:</b> {{ reservation.hours }}</p>
    <p class="card-text"><b>Guests:</b> {{ reservation.guests }}</p>
    <p class="card-text"><b>Start Time:</b> {{ reservation.start_time }}</p>
    <p class="card-text"><b>Date:</b> {{ reservation.start_date }}</p>

    {% if reservation.status != 'requested'%}
    <p class="card-text"><b>Status:</b> {{ reservation.status.capitalize() }}</p>
    {% endif %}
  </div>

  {% if reservation.status == 'requested'%}
  <div class="card-body">
    <form method="POST">
      {{ g.csrf_form.hidden_tag() }}
      <button formaction="/reservations/{{ reservation.id }}/approve" class="btn btn-success">Approve</button>
      <button formaction="/reservations/{{ reservation.id }}/deny" class="btn btn-danger">Deny</button>
    </form>
  </div>
  {% endif %}
</div>
{% endmacro %}


{% macro listing_card(listing) %}
<div class="card listing-card" style="width: 24rem;">
  <img src="{{ listing.images[0].url }}" class="card-img-top" alt="{{ listing.images[0].original_filename }}">
  <div class="card-body">
    <h5 class="card-title">{{ listing.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Host: {{ listing.user.username }}</h6>
    <p class="card-text"><b>Description:</b> {{ listing.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Area:</b> {{ listing.sq_ft}} ft²</li>
    <li class="list-group-item"><b>Max Number of Guests:</b> {{ listing.max_guests }}</li>
    <li class="list-group-item"><b>Hourly Rate:</b> ${{ listing.hourly_rate }}</li>
  </ul>
  {% if g.user %}
  <div class="card-body">
    <a href="/listings/{{ listing.id }}" class="card-link">View Details</a>
    <a href="/listings/{{ listing.id }}/reserve" class="card-link">Reserve</a>
    <a href="/messages/compose?recipient_username={{ listing.user.username }}&subject={{ listing.title }}"
      class="card-link">Message Host</a>
  </div>
  {% endif %}
</div>
{% endmacro %}


{% macro received_messages_card(message) %}
<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title"><b>Subject: </b>{{ message.subject }}</h5>
    <h6 class="card-subtitle mb-1 text-muted">Sent At: {{ message.timestamp }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">From: {{ message.sender.username }}</h6>
    <p class="card-text">{{ message.message }}</p>
    <a href="/messages/compose?recipient_username={{ message.sender.username }}&subject=Re:%20{{ message.subject }}"
      class="card-link">Reply {{message.sender.username}}</a>
  </div>
</div>
{% endmacro %}


{% macro sent_messages_card(message) %}
<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title"><b>Subject: </b>{{ message.subject }}</h5>
    <h6 class="card-subtitle mb-1 text-muted">Sent At: {{ message.timestamp }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">To: {{ message.recipient.username }}</h6>
    <p class="card-text">{{ message.message }}</p>
    <a href="/messages/compose?recipient_username={{ message.recipient.username }}&subject=Re:%20{{ message.subject }}"
      class="card-link">Followup</a>
  </div>
</div>
{% endmacro %}