{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">

    <form method="POST" id="user_form" class="user-form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-inputs">
        <b>{{ field.label.text }}</b>
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(class="form-control") }}
        {% endfor %}
      </div>

      <div class="form-buttons">
        <button class="btn btn-primary">Send</button>
        <a href="/messages" class="btn btn-secondary">Back to Inbox</a>
      </div>
    </form>

    </div>
  </div>


{% endblock %}





