{% extends 'base.html' %}
{% from 'macros.html' import reservation_approval_card %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">

    <h1 class="mt-4">Manage</h1>

    <h2 class="mt-4 mb-2 text-primary">Pending</h2>
    {% for reservation in reservations %}
    {% if reservation.status == 'requested' %}
    {{ reservation_approval_card(reservation) }}
    {% endif %}
    {% endfor %}

    <h2 class="mt-4 mb-2 text-success">Approved</h2>
    {% for reservation in reservations %}
    {% if reservation.status == 'approved' %}
    {{ reservation_approval_card(reservation) }}
    {% endif %}
    {% endfor %}

    <h2 class="mt-4 mb-2 text-danger">Denied</h2>
    {% for reservation in reservations %}
    {% if reservation.status == 'denied' %}
    {{ reservation_approval_card(reservation) }}
    {% endif %}
    {% endfor %}

  </div>
</div>

{% endblock %}